@import "/../variables";

$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);

$gutter: 30px;
$border-width: .25em;
$dot-diameter: 6em;
$cirle-width: 33%;


.timeline {
  width:100%;
  max-width:80vw;
  background:$contentThemeColor;
  padding: 100px 50px;
  position: relative;
  box-shadow: $container-shadow;
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left:calc(33% + 15px); //$gutter/2
    bottom: 0px;
    width: $border-width;
    background: $quaternaryThemeColor;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  } 
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
  .circles{
    margin-bottom: .5em;
    float: left;
    width: $cirle-width;
    padding-right: $gutter;
    position: relative;
    img{
      // display: block;
      position: absolute;
      width: $dot-diameter;
      height: $dot-diameter;
      border: $border-width solid $ternaryThemeColor;
      border-radius:100%;
      top: 15%;
      right: -$dot-diameter/2;
    }
    &:before {
      content: '';
      position: absolute;
      width: $dot-diameter;
      height: $dot-diameter;
      border: $border-width solid $ternaryThemeColor;
      background-color:$contentThemeColor;
      border-radius:100%;
      top: 15%;
      right: -$dot-diameter/2;
      // img{
      //   position: absolute;
      //   width: $dot-diameter;
      //   height: $dot-diameter;
      // }
    //   z-index: 99;
    }
  }
  // .title {
  //   margin-bottom: .5em;
  //   float: left;
  //   width: 33%;
  //   padding-right: $gutter;
  //   // text-align: right;
  //   position: relative;
  //   // &:before {
  //   //   content: '';
  //   //   position: absolute;
  //   //   width: $dot-diameter;
  //   //   height: $dot-diameter;
  //   //   border: $border-width solid $ternaryThemeColor;
  //   //   background-color:$contentThemeColor;
  //   //   border-radius:100%;
  //   //   top: 15%;
  //   //   right: -$dot-diameter/2;
  //   // //   z-index: 99;
  //   // }
  //   h3 {
  //     margin: 0;
  //     font-size: 120%;
  //   }
  //   p {
  //     margin: 0;
  //     font-size: 100%;
  //   }
  // }
  .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: $gutter;
    p {
      line-height: 1.4em;
      &:first-child {
        margin-top: 0;
        font-weight: 400;
      }
    }
    ul {
      color:#aaa;
      padding-left: 0;
      list-style-type: none;
      li:before {
        content: "–";
        margin-right: .5em;
      }
    }
  }
}
